<!DOCTYPE html>
<html>

<head>
    <title>honzacerny.net - Page Not Found</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <link rel="stylesheet" type="text/css" href="./static/lib/css//bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/lib/css/keen-dashboards.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/custom.css" />
</head>

<body class="application">
    {% include "navigation.html" %} {% include "analytics.html" %}
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                  Page Not Found
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./static/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="./static/lib/js/bootstrap.min.js"></script>
</body>

</html>
