<!DOCTYPE html>
<html>

<head>
    <title>honzacerny.net - Page Not Found</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
      {% include "common_header.html" %}
</head>

<body class="application">
    {% include "navigation.html" %} {% include "analytics.html" %}
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                  Page Not Found
                </div>
            </div>
        </div>
    </div>
    {% include "common_footer.html" %}
</body>

</html>
