<!DOCTYPE html>
<html>

<head>
    <title>honzacerny.net - Runkeeper Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <link rel="stylesheet" type="text/css" href="./static/lib/css//bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/lib/css/keen-dashboards.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/custom.css" />
</head>

<body class="application">
    {% include "navigation.html" %} {% include "analytics.html" %}
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div id="social-links">
                        <a href="//www.linkedin.com/in/jan-cerny-30a4b242/" target="_blank" onClick="ga('send', 'event', 'Social Link', 'LinkedIn');"><img src="./static/img/001-linkedin-sign.svg" alt="linkedin" width="40px" height="40px"> </a>
                        <a href="//github.com/cerny-jan/" target="_blank" onClick="ga('send', 'event', 'Social Link', 'GitHub');"><img src="./static/img/002-github-sign.svg" alt="github" width="40px" height="40px"> </a>
                        <a href="//www.flickr.com/photos/73523983@N05/" target="_blank" onClick="ga('send', 'event', 'Social Link', 'Flickr');"><img src="./static/img/003-flickr.svg" alt="flickr" width="40px" height="40px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./static/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="./static/lib/js/bootstrap.min.js"></script>
</body>

</html>
